{% extends "templates/base.html" %}
{% block title %}Delete Account{% endblock %}
{% block mainid %}deleteaccountpage{% endblock %}
{% block content %}
    <h1>Delete account</h1>
    <form onsubmit="attemptDelete(event)">
        <button onclick="attemptDelete(event)" class="danger">Delete</button><br>
    </form>
    <p id="status"></p>
{% endblock %}
{% block script %}
    <script>
        function attemptDelete(event) {
            if (!confirm("Are you sure you want to delete your account? This action cannot be undone.")) {
                event.preventDefault();
                return;
            }
            event.preventDefault();
            fetch('/account/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({}),
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == "success") {
                    document.getElementById('status').innerText = 'Delete successful!';
                    window.location.href = '/';
                    // Redirect or perform other actions on successful login
                } else {
                    document.getElementById('status').innerText = 'Delete failed: ' + data.message;
                }
            })
            .catch(error => {
                document.getElementById('status').innerText = 'An error occurred: ' + error.message;
            });
        }
    </script>
{% endblock %}