{% extends "templates/base.html" %}
{% block title %}Create Account{% endblock %}
{% block mainid %}createaccountpage{% endblock %}
{% block content %}
        <h1>Create account</h1>
        <form onsubmit="attemptRegister(event)"></form>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required><br>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required><br>
            <label for="Password">Password</label>
            <input type="password" id="password" name="password" required><br>
            <label for="role">Role</label>
            <select id="role" name="role">
                <option value="user">User</option>
                <option value="teacher">Teacher</option>
                <option value="admin">Admin</option>
                <option value="testing">Test account</option>
            </select><br>
            <label for="bypass">Bypass username requirements</label>
            <input type="checkbox" id="bypass" name="bypass"><br>
            <button onclick="attemptRegister(event)">Create</button><br>
        </form>
        <p id="status"></p>
{% endblock %}
{% block script %}
    <script>
        function attemptRegister(event) {
            event.preventDefault();

            fetch(window.location.toString(), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: document.getElementById('username').value, password: document.getElementById('password').value, email: document.getElementById('email').value, role: document.getElementById('role').value, bypass_username_requirements: document.getElementById('bypass').checked
                }),
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == "success") {
                    document.getElementById('status').innerText = data.message;
                    window.location.href = '/admin';
                } else {
                    document.getElementById('status').innerText = 'Registration failed: ' + data.message;
                }
            })
            .catch(error => {
                document.getElementById('status').innerText = 'An error occurred: ' + error.message;
            });
        }
    </script>
{% endblock %}