{% extends "templates/base.html" %}
{% block title %}About{% endblock %}
{% block mainid %}aboutpage{% endblock %}
{% block mainclasses %}centered{% endblock %}
{% block content %}
<meta name="endtime" content="{{ endtime }}"/>
<h1>Welcome to Chronis</h1><br>
<p>Chronis is a tool for you to more easily manage your schedule, for anyone annoyed at the current bell schedule.</p>
<h2>Get an overview</h2>
View your classes, lunch, and breaks with your favorite calendar app (google calendar, apple calendar, outlook, etc.)
<br><picture>
    <source srcset="/static/demo/callight.png" media="(prefers-color-scheme: light)">
    <source srcset="/static/demo/caldark.png" media="(prefers-color-scheme: dark)">
    <img src="/static/demo/callight.png" alt="Google Calendar">
</picture><br>

<h2>Quickly see when class ends</h2>
(timerpage, awaiting the rewrite)
<h2>Cards</h2>
<p>Printable cards that you can use to keep track of your schedule.</p>
<div id="cards">
    {% for img in ['ERB','T','W'] %}
        <img src="/static/demo/cards/{{ img }}.png"/>
    {% endfor %}
</div>
{% endblock %}