<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassFinder</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    {% include 'templates/header.html' %}
    <main>
        <h1>Canvas linking</h1>
        <h3>Select the classes that match</h3>
        <h4>You may need to favorite the classes in Canvas to see them here.</h4><br><br>
        <form onsubmit="attemptLink(event)">
            <ul id="courses">
                {% for course in courses %}
                    <li class="course">
                        <label for="{{ course.id }}">{{ course.name }}</label><br>
                        <select id="{{ course.id }}" name="{{ course.id }}">
                            <option value="">Select an option</option>
                            {% for id, name in cards.items() %}
                                <option value="{{ id }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                {% endfor %}
            </ul>
        </form>
        <button onclick="attemptLink(event)">Submit</button><br>
    </main>
    <script>
        function attemptLink(event) {
            event.preventDefault();
            let bodyData = {};
            {% for course in courses %}
            bodyData["{{ course.id }}"] = document.getElementById('{{ course.id }}').value;
            {% endfor %}
            fetch(window.location.toString(), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(bodyData),
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    window.location.href = "/dashboard";
                } else {
                    alert("Failed to link classes. Please try again.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("An error occurred. Please try again.");
            });
        }
    </script>
</body>
</html>