{% extends "templates/base.html" %}
{% block title %}Link to Canvas{% endblock %}
{% block mainid %}linktokenrequestpage{% endblock %}
{% block content %}
    <h1>Canvas token</h1>
    <form onsubmit="attemptToken(event)">
        <label for="token">Input your canvas token here:</label>
        <input type="text" id="token" name="token" required><br>
        <button type="submit">Submit</button><br>
    </form>
    <h2>Make sure your classes are visible on your canvas dashboard (favorited)</h2>
    <p>You can get a token from your <a href="{{canvas_url}}/profile/settings">account page</a></p>
{% endblock %}
{% block script %}
    <script>
        function attemptToken(event) {
            event.preventDefault();
            const token = document.getElementById('token').value;
            const url = new URL(window.location.href);
            url.searchParams.set('token', token);
            window.location.href = url.toString();
        }
    </script>
{% endblock %}