{% extends "templates/base.html" %}
{% block title %}Login{% endblock %}
{% block mainid %}loginpage{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form onsubmit="attemptLogin(event)" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required><br>
        <label for="privacyPolicy" id="privacyPolicy">By logging in, you agree to our <a href="/privacy">Privacy Policy</a></label>
        <input type="checkbox" id="privacyPolicy" name="privacyPolicy" required><br>
        <button type="submit">Login</button><br>
    </form>
    <div>
        <!-- <button onclick="getLinkCode()">Login with another device</button> -->
        <button onclick="window.location.href = '/register'">Sign up</button>
        <button onclick="window.location.href = '/resetpassword'">Reset password</button>
    </div>
    {% if status is not none %}
    <p>{{status}}</p>
    {% endif %}
    {% if devmode %}
    <p>Data may be randomly deleted</p>
    {% endif %}
    <p id="status">{{status_message}}</p>
    <p style="position: absolute; bottom:20px;left:20px;">Cookies are used to store login data, by logging in, you consent to this.</p>
{% endblock %}
{% block script %}
    <script>
        linkcode = null
        function attemptLogin(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const privacyPolicy = document.getElementById('privacyPolicy').checked;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                    privacyPolicy: privacyPolicy
                }),
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == "success") {
                    document.getElementById('status').innerText = 'Login successful!';
                    window.location.href = '/dashboard';
                    // Redirect or perform other actions on successful login
                } else {
                    document.getElementById('status').innerText = 'Login failed: ' + data.message;
                }
            })
            .catch(error => {
                document.getElementById('status').innerText = 'An error occurred: ' + error.message;
            });
        }
        function getLinkCode() {
            fetch('/api/v2/link/create', {
                method: 'GET',
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == "success") {
                    linkcode = data.code;
                    setInterval(checkCode, 2000);
                    alert(`Enter this code on the other device: ${linkcode}`);
                    main = document.getElementById('login');
                    main.innerHTML = `<h1>Link Code</h1><p>Enter this code on the other device: ${linkcode}</p>`;

                } else {
                    console.error('Failed to get link code: ' + data.message);
                }
            })
            .catch(error => {
                console.error('An error occurred: ' + error.message);
            });
        }
        function checkCode() {
            if (linkcode == null) {
                getLinkCode();
            }
            if (linkcode != null) {
                fetch(`/api/v2/link/verify?code=${linkcode}&type=refresh`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status == "success") {
                        window.location.href = data.redirect_to;
                    } else {
                        console.error('Failed to check link code: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('An error occurred: ' + error.message);
                });
            }
        }
    </script>
{% endblock %}