{% extends "templates/base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block mainid %}privacypage{% endblock %}
{% block content %}
    <h1>Privacy Policy</h1>
    <p>Chronis is a web application that allows users to track their classes. This privacy policy explains how we collect, use, and store your data.</p>
    <h2>Information we collect</h2>
    <h3>With an account</h3>
    <p>When you create an account, we collect the following information:</p>
    <ul>
        <li>School email</li>
        <li>Username</li>
        <li>Classes</li>
    </ul>
    <h2>Analytics</h2>
    <p>We collect the most used pages on this site for analytics purposes. They are never linked to you.</p>
    <h2>How we use your information</h2>
    <p>Your information is never sold and is only used to provide the intended function of this service.</p>
    <h2>How to contact us</h2>
    <p>If you have any questions about this privacy policy, or would like us to delete analytics data, please email us at <a href="mailto:help@trey7658.com">help@trey7658.com</a>.</p>
{% endblock %}