{% extends "templates/base.html" %}
{% block title %}Reset password{% endblock %}
{% block mainid %}resetpasspage{% endblock %}
{% block content %}
    <h1>Reset password</h1>
    <form onsubmit="attemptReset(event)"></form>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required><br>
        <button onclick="attemptReset(event)">Send email</button><br>
    </form>
    <p id="status"></p>
    <p>Remember your password? <a href="/login">Log in</a></p>
    <p style="position: absolute; bottom:20px;left:20px;">A one time email will be sent to your inbox.</p>
{% endblock %}
{% block script %}
    <script>
        function attemptReset(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;

            fetch('/resetpassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email
                }),
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == "success") {
                    document.getElementById('status').innerText = data.message;
                    // Redirect or perform other actions on successful login
                } else {
                    document.getElementById('status').innerText = 'Registration failed: ' + data.message;
                }
            })
            .catch(error => {
                document.getElementById('status').innerText = 'An error occurred: ' + error.message;
            });
        }
    </script>
{% endblock %}