<header{% if devmode %} style="background: linear-gradient(to bottom, #ff4d4d 0%, #7d282800 100%);"{% endif %}>
<nav>
<ul>
    {% if user is none %}<li><a href="/about">About</a></li>{% endif %}
    <li><a href="/dashboard">{% if user is none %}Login{% else %}Dashboard{% endif %}</a></li>
    {% if user is none %}<li><a href="/register">Sign Up</a></li>{% endif %}
    {% if currentperiod is not none %}<li><a href="/timer" id="timertext">Timer</a></li>{% endif %}
    {% if user is not none %}<li><a href="/account">{{ user.username }}</a></li>{% endif %}
</ul>
</nav>
</header>