<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassFinder</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <h1 style="display: inline;">Hello, {{user.username}}!  </h1><br><p class="hidden-text"><!--email_off-->{{user.email}}<!--/email_off--></p><br>
        {% if user.role == "admin" %}<button onclick="window.location.href = '/admin'">Admin</button>{%endif %}
        {% if classestoadd|length > 0 %}<h2>You still need to add {{classestoadd|length}} classes.</h2> <button onclick="window.location.href = '/addclasses'">Add classes</button>{% endif %}
        {% if needcanvaslink %}<button onclick="window.location.href = '/classes/canvaslink'">Link canvas classes</button>{% endif %}
        <button onclick="showSlider()" id="changecolor">Change color</button>
        <div id="color-slider" style="display: none;">
            <input type="range" min="0" max="360" value="{{user.color_hue|default(155)}}" oninput="updateColor(this.value)" style="width: 25%;">
            <button onclick="setColor()">Set color</button>
        </div>
        <button onclick="window.location.href = '/classes/exportschedule'">Print your schedule</button>
        <button onclick="window.location.href = '/classes/calendar'">Create calendar</button>
        <button onclick="getTempPasscode()">Get temporary passcode</button>
        <button onclick="leaveClasses(event)">My classes changed</button>
        <button onclick="window.location.href = '/logout'">Log out</button>
        <button onclick="window.location.href = '/account/delete'">Delete account</button>
        {% if user.classes|length > 0%}
        <h2>Your classes:</h2>
        <button onclick="showUsers(); this.style.display = 'none';">Show people</button>
        <button id="highlightusers" onclick="user = prompt('Enter the username of the person you want to highlight'); highlightUser(user)" style="display:none;">Highlight a person</button>
        <ul id="classes">
            {% for class in user.classes|sort(attribute='period') %}
                <li class="class" id="{{class.id}}" {% if class.canvasid %} onclick="window.location.href = '{{canvasurl}}/courses/{{class.canvasid}}'" {%endif%}>{{class.name}}
                    <ul class="actions">
                        {% if class.lunch is none and (class.period == "6" or class.period == "5")%}<li class="action" onclick="window.location.href = '/class/{{class.id}}/setlunch'">Set lunch</li>{% endif %}
                    </ul>
                    <ul class="classusers" style="display: none;">
                        {%for user in class.users%}
                            {% if not user.role == "testing" %}
                                <li class="classuser" onclick="event.stopPropagation(); highlightUser('{{user.username}}')" data-color="{{user.color_hue}}" style="cursor: pointer;">
                                    {{user.username}}
                                </li>
                            {% endif %}
                        {%endfor%}
                </ul></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if has_external_tokens %}
            <h2>Authorized apps</h2>
            <ul id="externaltokens">
            {% for token in user.tokens %}
                {% if token.granted_to is not none %}
                    <li class="token">
                        <span class="token-granted-to">{{ token.granted_to }}</span>
                        <ul class="actions">
                            <li class="action" onclick="revokeToken('{{ token.granted_to }}')">Revoke</button>
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </main>
    <script>
        function leaveClasses(event) {
            event.stopPropagation();
            event.preventDefault();
            if (confirm("Have your classes changed? This will remove all your classes and you will have to add them again.")) {
                fetch(`/classes/all/leave`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/addclasses';
                    } else {
                        alert('Failed to leave the class.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while trying to leave the class.');
                });
            }
        }
        function highlightUser(user) {
            document.querySelectorAll('.classuser').forEach(e => {
                if (e.innerText == user) {
                    e.classList.add('highlight');
                    e.style.cursor = null;
                    e.removeAttribute('onclick');
                    const colorHue = e.getAttribute('data-color');
                    if (colorHue !== "None") {
                        e.style.backgroundColor = `hsl(${colorHue}, 60%, 35%)`;
                    }
                }
            });
        }
        function showSlider() {
            const slider = document.getElementById('color-slider');
            slider.style.display = slider.style.display === 'none' ? 'block' : 'none';
            const button = document.getElementById('changecolor');
            button.style.display = button.style.display === 'none' ? 'block' : 'none';
        }
        function updateColor(value) {
            document.documentElement.style.setProperty('--user-prefered-color', value);
        }
        function setColor() {
            const hue = document.querySelector('#color-slider input[type="range"]').value;
            fetch('/account/set_color', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ color_hue: hue })
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Failed to set the color.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while trying to set the color.');
            });
        }
        function revokeToken(granted_to) {
            if (confirm(`Are you sure you want to revoke access for ${granted_to}?`)) {
                fetch(`/account/revoke_token`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ granted_to: granted_to })
                })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert('Failed to revoke the token.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while trying to revoke the token.');
                });
            }
        }
        function getTempPasscode() {
            fetch('/account/temp_passcode', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                alert(`Temporary passcode created successfully: ${data.passcode}`);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while creating the temporary passcode.');
            });
        }
        function showUsers() {
            document.querySelectorAll('.classusers').forEach(e => e.style.display = 'block');
            document.querySelectorAll('.classuser').forEach(e => {
                const colorHue = e.getAttribute('data-color');
                if (colorHue !== "None") {
                    e.style.backgroundColor = `hsl(${colorHue}, 77%, 20%)`;
                }
            });
            document.getElementById('highlightusers').style.display = 'block';
        }
    </script>
</body>
</html>